<%= content_for :title, " #{@post.name} | JW" %>

<h1 class="page-header text-center"><%= @post.name %></h1>
<% if can? :manage, Post %>
  <div class="link-group">
    <%= link_to "Edit #{@post.name}", edit_post_path(@post), class: "btn btn-info btn-block" %>
    <%= link_to "Delete #{@post.name}", post_path(@post), class: "btn btn-danger btn-block",
                                          data: {confirm: "Remove post?",
                                                  method: 'delete'} %>
  </div>
<% end %>
<div id="post">
  <p class="lead">
    <%= @post.body %>
  </p>
</div>

<% if current_user != nil %>
  <div id="post-comment">
    <%= render 'comments/form' %>
  </div>
<button class="btn btn-primary btn-block" id="comment">Add Comment</button>
<% end %>
<% if @post.comments.any? %>
<h3>Comments:</h3>
<div class="comments">
  <% @post.comments.each do |comment| %>
    <div class="comment">

      <p class="lead">
        <%= comment.body %>
      </p>
      <p>
        by <%= comment.user.name %> <span class=></span>
      </p>
      <% if can? :manage, comment %>
        <%= link_to edit_post_comment_path(@post, comment), id: 'change' do %>
          <span id='edit' class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end %>
      <% if can? :manage, comment %>
        <%= link_to post_comment_path(@post, comment), id: 'destroy', data: { confirm: 'Are you sure?',
            method: 'delete' } do %>
      <span id='edit'  class="glyphicon glyphicon-trash"></span>
        <% end %>
    <% end %>
    </div>
  <% end %>
</div>
<% end %>
