<%= content_for :title, " #{@post.name} | Freqy" %>

<h1 class="page-header text-center"><%= @post.name %></h1>

<div class="link-group">
  <%= link_to "Edit #{@post.name}", edit_post_path(@post), class: "btn btn-info btn-block" %>
  <%= link_to "Delete #{@post.name}", post_path(@post), class: "btn btn-danger btn-block",
                                        data: {confirm: "Remove post?",
                                                method: 'delete'} %>
</div>
<div id="post">
  <p class="lead">
    <%= @post.body %>
  </p>
</div>


<div id="post-comment">
  <%= render 'comments/form' %>
</div>
<% if @post.comments.any? %>
<div class="comments">
  <% @post.comments.each do |comment| %>
    <div class="comment">

      <p class="lead">
        <%= comment.body %>
      </p>
      <p>
        by <%= comment.user.name %> <%= time_ago_in_words(comment.updated_at)%> <span class=></span>
      </p>
      <% if can? :manage, comment %>
        <%= link_to edit_post_comment_path(@post, comment) do %>
          <span id='edit' class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end %>
      <% if can? :manage, comment %>
        <%= link_to post_comment_path(@post, comment), data: { confirm: 'Are you sure?',
            method: 'delete' } do %>
      <span id='edit'  class="glyphicon glyphicon-trash"></span>
        <% end %>
    <% end %>
    </div>
  <% end %>
</div>
<% end %>
