<%= content_for(:title, "About | Freqy") %>
<h1 class="page-header text-center">About <%= @admin.name %></h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "me.jpg", class: 'img-responsive' %>
  </div>
  <div class="col-md-6 col-md-offset-2">

    <p class="lead">
      After spending over 6 years in the customer service industry as a leader, team player, and customer satisfaction specialist, I have started working towards
      a new career as a Full-stack developer. I am currently attending a four month programming bootcamp known as 'Epicodus', located in Portland, Oregon. I am
      learning what it is to be a ruby, javascript, and rails web developer 40 hours a week through daily pair programming challenges. I have been interested in
      computers since I first used one as a child and am very excited to finally learn the ins and outs through computer programming. You can follow along with
      my current projects on my <a href="http://www.github.com/finalfreq">Github </a>
    </p>
  </div>
</div>
<h1 class="page-header text-center">Languages and Skills</h1>
<% if @admin.categories.any? %>
  <% @admin.categories.in_groups_of(2, false).each do |categories| %>
  <div class="row clearfix">
    <% categories.each do |category| %>
      <div class="col-md-6">
        <div class="well">
          <h2 class="lead text-center"><%= link_to category.name, category_path(category) %></h2>
          <%= image_tag "program.png", class: 'img-responsive' %>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
<% else %>

<p class="lead"> No Languages or Skills have been added at this time </p>

<% end %>
