<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="nav" class="navbar-brand" href="/">JW Designs</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li> </li>
          <li> <%= link_to "About", about_index_path %> </li>
          <li> <%= link_to "Skillset", categories_path %> </li>

          <% if can? :manage, :all %>
            <li> <%= link_to "Users", users_path %> </li>
            <li> <%= link_to "New Category", new_category_path %> </li>
            <li> <%= link_to "New Post", new_post_path %> </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.facebook.com/finalfrequency"><i class="fa fa-lg fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/jamesrdev"><i class="fa fa-lg fa-twitter"></i></a></li>
          <li><a href="https://plus.google.com/u/0/+JamesWilliamsdev"><i class="fa fa-lg fa-google-plus"></i></a></li>
          <li id="last"><a href="https://www.linkedin.com/in/jameswilliamsdev"><i class="fa fa-lg fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
<%= yield %>
</div>
</body>
</html>
